::-webkit-scrollbar {
    width: 9px;
    background: #313841;
    cursor: pointer;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
    background: #677484;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e6b7c;
}

::-webkit-scrollbar-corner {}